@model UMSSoft.ContactList.Models.Contact

@Html.ValidationSummary(false)
<div class="control-group">
    @Html.HiddenFor(x => x.Id)
</div>
<div class="control-group">
    @Html.LabelFor(x => x.Name)
    @Html.EditorFor(x => x.Name)
</div>
<div class="control-group">
    @Html.LabelFor(x => x.Adress)
    @Html.EditorFor(x => x.Adress)
</div>
<div class="control-group">
    @Html.LabelFor(x => x.Phone)
    @Html.EditorFor(x => x.Phone)
</div>

